body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.logo1{
    width: 120px;
    height: 120px;
}
header {
    background: #012837;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 80px;
    text-align: center;
    background: url('images/football1.jpg') center/cover no-repeat;
    color: white;
    font-size: 20px;
}

.section-title {
    text-align: center;
    margin-top: 40px;
}

.products-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    background: white;
    width: 230px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.product-card img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 12px;
    background: #03446c;
    color:white;
    margin-top: 40px;
}

.content {
    padding: 40px;
    text-align: center;
}
